{% extends "weather/base.html" %}
{% block content %}
        <!-- Main Body -->
        <div>
            <h1 class="">{{title}} Text Data</h1>
            <div class="nav-form">
                <p>Enter Data Here: </p>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <!-- METAR DATA BELOW -->
            <div>
                {% for metar in metars %}
                    <h1>{{ metar.airport }} -- ICAO: {{ metar.icao }}</h1>
                    <p>The wind is {{ metar.wind }}</p>
                {% endfor %}
            </div>
        </div>
{% endblock content %}