<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TAFs</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="header">TAF Text Data</h1>
        <div class="nav-form">
            <p>Enter Data Here: </p>
        </div>
        <div class="data">
            {% for taf in tafs %}
                <h1>{{ taf.airport }} -- ICAO: {{ taf.icao }}</h1>
                <p>The wind is {{ metar.wind }}</p>
            {% endfor %}
        </div>
    </nav>
</body>
</html>